/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App li {
  list-style: none
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Playfair Display', serif;
}
h1{font-size: 1.25rem;font-weight: 700; white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h2{font-size: 1.8rem;}
h3{font-size: 1.6rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1rem;}
h6{font-size: 1.1rem;}

.text-center{text-align: center;}
ol,ul{
  padding: 0.5rem;
}
li{padding-bottom: 0.5rem;
  padding-top: 0.25rem;}
/*.artistlist h1
{
  padding: 0.25rem 0.5rem;
  margin: 0;
} */

div.artistlist li h1:hover {
  font-weight: 800;
  color: #c24646;
  cursor: pointer;
}

 
.albumslist
p.lyrics_text {

  padding: 1rem;
  
  
  font-size: 0.75rem;
}
.albumslist li
{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
div.albumslist li:hover, div.songslist li h5:hover{
  font-weight: 800;
  cursor: pointer;
}
.col{
  flex:1;
  padding: 0 0.5rem;

}
.left{
  flex: 1;
}
.right{
  flex:1;
}
.body_container{
  display: flex;
  height: 76vh;
}
.top{
  padding: 1vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
 
}
.top form input{

  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;

}
.app,#container{
  height: 100vh;
  overflow: hidden;
}
.scrollable{
  overflow-y: scroll;
    
    max-height: 92vh;
}
/*
https://css-tricks.com/the-current-state-of-styling-scrollbars-in-css/
*/




.scrollable::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);*/
  background-color: #CCC;
}

.scrollable::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 1px solid #555555;
}

img.thumb{
  max-height: 4rem;
  padding: 0 3rem
}
li.artist_cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
p.lyrics{   
  font-size: 0.9rem;
  font-family: 'Playfair Display', serif;}

div.title_sl{
 position: sticky;
 top:0;
 background:#fff;

  
}
div.semicontainer{
flex: 2;
height: 78vh;
/*width: 50vw;*/
position: relative;
display: flex;
}
.similar_artist{
  padding: 1rem
}
div.artist_name{
  display: flex;
    flex-direction: column;
    align-items: self-end;
    overflow: hidden;
}
.subname_elements{
  display: flex;
    justify-content: center;
    align-items: center;
}
.bio_button{
  margin-top: 5px;
  padding: 0.3rem 0.5rem;
}

.stamp-discogs{
  background: #333;
    padding: 0.3rem 0.5rem;
    display: block;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}
.stamp-deezer{
  background:yellow;
    border: 1px solid lightgrey;
    color: black;
}
.stamp-musicbrainz{
  background:#002BBA;
  border: 1px solid orange;
   color: white;
}

.stamp{
  font-weight: 800;
    text-transform: capitalize;
    padding: 0.3rem 0.5rem;
    display: block;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 11px;
}

input.artist{
  
    width: 100%;
    margin: 0 1rem;
    line-height: 2rem;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    /* left: 50%; */
    position: sticky;
    align-items: center;
    top: 0;
    left: 25%;
    background-color: #fff;
 
}
img.amalogo{
  height: 25px;
  padding: 5px;
}
#audiocontainer{
width: 100%;
 
  margin: 2rem 0;
}

.chakra-radio__control{
border:  black 0.5px solid!important
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */

img.thumb {
  max-height: 3rem;
  padding: 0;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
 
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

  .body_container {
    
    flex-direction: column;
 
}

div.semicontainer {
  
  height: 50vh;
  display: flex;
  width: 100vw;
 
}
img.thumb {
  max-height: 3rem;
  padding: 0;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

  .body_container {
    
    flex-direction: column;
 
}
img.thumb {
  max-height: 3rem;
  padding: 0;
}
div.semicontainer {
  
  height: 50vh;
  display: flex;
  width: 100vw;

}

/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
.body_container {
    
  flex-direction: column;

}
img.thumb {
  max-height: 3rem;
  padding: 0;
}
div.semicontainer {

  height: 50vh;
  display: flex;
  width: 100vw;

}

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
 
  .body_container {
    
    flex-direction: column;
 
  }

   div.semicontainer {
  
    height: 50vh;
    display: flex;
    width: 100vw;

  }
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}